.features {
    width: 100%;
    background: #ffffff;
    padding-top: 30px;
    padding-bottom: 15px;
}

.features_row {
    margin-top: 55px;
}

.feature {
    width: 100%;
    padding-top: 30px;
    padding-bottom: 28px;
    padding-left: 15px;
    padding-right: 15px;
    background: #ffffff;
}

.feature:hover {
    box-shadow: 0px 5px 40px rgba(29, 34, 47, 0.15);
}

.feature_icon {
    height: 55px;
}

.feature_icon img {
    max-width: 100%;
}

.feature_title {
    position: relative;
    font-size: 20px;
    margin-top: 23px;
}

.section_subtitle p {
    text-align: center;
    margin-top: 15px;
    margin-bottom: 30px;
}


/* Slider */

.container-all {
    position: relative;
    max-width: 85%;
    width: 100%;
    max-height: 500px;
    border-radius: 6px;
    overflow: hidden;
    display: flex;
    align-content: center;
}

.container-all img {
    max-width: 100%;
}

.slide {
    display: flex;
    transform: translate3d(0, 0, 0);
    transition: all 600ms;
    animation-name: autoplay;
    animation-duration: 6.5s;
    animation-direction: alternate;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
}

.slider-container {
    background-color: #273f95;
    width: 100%;
    min-height: 600px;
}

.slider {
    position: absolute;
    top: 0px;
    z-index: 2;
    width: 100%;
    height: 100%;
}

.otro {
    position: absolute;
    top: 0;
    left: 0;
    height: 600px !important;
    width: 100vw;
    background-size: cover;
    background-position: 50% 50%;
    display: block;
}

.item-slide {
    position: relative;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    flex-grow: 0;
    max-width: 100%;
}

.pagination {
    position: absolute;
    bottom: 20px;
    left: 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.pagination-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid white;
    width: 16px;
    height: 16px;
    border-radius: 4px;
    overflow: hidden;
    cursor: pointer;
    background: rgba(255, 255, 255, 0.5);
    margin: 0 10px;
    text-align: center;
    transition: all 300ms;
}

.pagination-item:hover {
    transform: scale(2);
}

.pagination-item img {
    display: inline-block;
    max-width: none;
    height: 100%;
    transform: scale(1);
    opacity: 0;
    transition: all 300ms;
}

.pagination-item:hover img {
    opacity: 1;
    transform: scale(1);
}

input[id="1"]:checked~.slide {
    animation: none;
    transform: translate3d(0, 0, 0);
}

input[id="1"]:checked~.pagination .pagination-item[for="1"] {
    background: #fff;
}

input[id="2"]:checked~.slide {
    animation: none;
    transform: translate3d(calc(-100% * 1), 0, 0);
}

input[id="2"]:checked~.pagination .pagination-item[for="2"] {
    background: #fff;
}

input[id="3"]:checked~.slide {
    animation: none;
    transform: translate3d(calc(-100% * 2), 0, 0);
}

input[id="3"]:checked~.pagination .pagination-item[for="3"] {
    background: #fff;
}

@keyframes autoplay {
    33% {
        transform: translate3d(calc(-100% * 0), 0, 0);
    }
    66% {
        transform: translate3d(calc(-100% * 1), 0, 0);
    }
    100% {
        transform: translate3d(calc(-100% * 2), 0, 0);
    }
}