.features {
    width: 100%;
    background: #ffffff;
    padding-top: 30px;
    padding-bottom: 15px;
}

.features_row {
    margin-top: 55px;
}

.feature {
    width: 100%;
    padding-top: 30px;
    padding-bottom: 28px;
    padding-left: 15px;
    padding-right: 15px;
    background: #ffffff;
}

.feature:hover {
    box-shadow: 0px 5px 40px rgba(29, 34, 47, 0.15);
}

.feature_icon {
    height: 55px;
}

.feature_icon img {
    max-width: 100%;
}

.feature_title {
    position: relative;
    font-size: 20px;
    margin-top: 23px;
}

.section_subtitle p {
    text-align: center;
    margin-top: 15px;
    margin-bottom: 30px;
}


/* Slider */

.container-all {
    position: relative;
    max-width: 85%;
    width: 100%;
    max-height: 500px;
    border-radius: 6px;
    overflow: hidden;
    display: flex;
    align-content: center;
}

.container-all img {
    max-width: 100%;
}

.slide {
    display: flex;
    transform: translate3d(0, 0, 0);
    transition: all 600ms;
    animation-name: autoplay;
    animation-duration: 6.5s;
    animation-direction: alternate;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
}

.slider-container {
    background-color: #273f95;
    width: 100%;
    min-height: 600px;
}


/* contenerdor */

.slider {
    position: absolute;
    top: 0px;
    z-index: 2;
    width: 100%;
    height: 100%;
}

.otro {
    position: absolute;
    top: 0;
    left: 0;
    height: 600px !important;
    width: 100vw;
    background-size: cover;
    background-position: 50% 50%;
    display: block;
}

.item-slide {
    position: relative;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    flex-grow: 0;
    max-width: 100%;
}

.pagination {
    position: absolute;
    bottom: 20px;
    left: 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.pagination-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid white;
    width: 16px;
    height: 16px;
    border-radius: 4px;
    overflow: hidden;
    cursor: pointer;
    background: rgba(255, 255, 255, 0.5);
    margin: 0 10px;
    text-align: center;
    transition: all 300ms;
}

.pagination-item:hover {
    transform: scale(2);
}

.pagination-item img {
    display: inline-block;
    max-width: none;
    height: 100%;
    transform: scale(1);
    opacity: 0;
    transition: all 300ms;
}

.pagination-item:hover img {
    opacity: 1;
    transform: scale(1);
}

input[id="1"]:checked~.slide {
    animation: none;
    transform: translate3d(0, 0, 0);
}

input[id="1"]:checked~.pagination .pagination-item[for="1"] {
    background: #fff;
}

input[id="2"]:checked~.slide {
    animation: none;
    transform: translate3d(calc(-100% * 1), 0, 0);
}

input[id="2"]:checked~.pagination .pagination-item[for="2"] {
    background: #fff;
}

input[id="3"]:checked~.slide {
    animation: none;
    transform: translate3d(calc(-100% * 2), 0, 0);
}

input[id="3"]:checked~.pagination .pagination-item[for="3"] {
    background: #fff;
}

@keyframes autoplay {
    33% {
        transform: translate3d(calc(-100% * 0), 0, 0);
    }
    66% {
        transform: translate3d(calc(-100% * 1), 0, 0);
    }
    100% {
        transform: translate3d(calc(-100% * 2), 0, 0);
    }
}


/* .elements_accordions {} */

.accordion_container {
    background: #ffffff;
    border-radius: 6px;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.1);
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 13px;
    padding-bottom: 4px;
}

.accordion_container:not(:last-child) {
    margin-bottom: 10px;
}

.accordion {
    width: 100%;
    padding-left: 27px;
    cursor: pointer;
    color: #000000;
    font-size: 14px;
    font-weight: 500;
    -webkit-transition: all 200ms ease;
    -moz-transition: all 200ms ease;
    -ms-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    transition: all 200ms ease;
}

.accordion div {
    max-width: 90%;
    overflow: hidden;
    white-space: nowrap;
    font-family: "Roboto Slab", serif;
    font-size: 20px;
    font-weight: 700;
    color: #384158;
}


/* .accordion::before {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: -1px;
    left: 0;
    height: 100%;
    font-family: "FontAwesome";
    content: "\f105";
    font-size: 24px;
    color: #384158;
    font-weight: 400;
    -webkit-transition: all 200ms ease;
    -moz-transition: all 200ms ease;
    -ms-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    transition: all 200ms ease;
}

.accordion.active::before {
    content: "\f107";
    color: #14bdee;
} */

.accordion_panel {
    padding-right: 8px;
    padding-left: 30px;
    padding-top: 9px;
    max-height: 0px;
    overflow: hidden;
    -webkit-transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    -ms-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease;
}

.accordion.active+.accordion_panel {
    margin-bottom: 20px;
}

.accordion_panel p {
    font-size: 14px;
    font-weight: 400;
    color: #76777a;
    line-height: 2;
}

.feature_video {
    width: calc(100% + 15px);
    left: -15px;
    height: 363px;
    margin-top: -4px;
}

.feature_video_background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    border-radius: 6px;
}

.feature_video_button {
    display: block;
    width: 60px;
    height: 60px;
    z-index: 10;
    outline: none;
}

.home_end {
    padding: auto;
    font-family: roboto;
    font-size: 20px;
    color: #273f95;
    background: whitesmoke;
    margin: 20px;
    cursor: pointer;
    border: none;
    border-radius: 8px;
    transition: all .4s ease;
}

.home_end p {
    text-align: center;
    padding: 15px;
}


/* CSS Document */


/******************************

[Table of Contents]

1. 1600px
2. 1440px
3. 1280px
4. 1199px
5. 1024px
6. 991px
7. 959px
8. 880px
9. 768px
10. 767px
11. 539px
12. 479px
13. 400px

******************************/


/************
1. 1600px
************/

@media only screen and (max-width: 1600px) {}


/************
2. 1440px
************/

@media only screen and (max-width: 1440px) {}


/************
3. 1380px
************/

@media only screen and (max-width: 1380px) {}


/************
3. 1280px
************/

@media only screen and (max-width: 1280px) {}


/************
4. 1199px
************/

@media only screen and (max-width: 1199px) {
    .about_col_left {
        padding-right: 15px;
    }
    .about_col_right {
        padding-left: 15px;
    }
    .about_col_middle {
        padding-left: 15px;
        padding-right: 15px;
    }
    .feature_content {
        padding-right: 0;
    }
    .feature_video {
        width: 100%;
        left: auto;
    }
    .team_image {
        width: 160px;
        height: 140px;
    }
    .milestone:not(:last-child)::after {
        display: none;
    }
    .partners_slider_container {
        width: calc(100% + 160px);
        left: -80px;
    }
}


/************
4. 1100px
************/

@media only screen and (max-width: 1100px) {}


/************
5. 1024px
************/

@media only screen and (max-width: 1024px) {}


/************
6. 991px
************/

@media only screen and (max-width: 991px) {
    .main_nav,
    .search_button {
        display: none;
    }
    .top_bar_contact_list li i,
    .top_bar_contact_list li>div,
    .login_button a {
        font-size: 12px;
    }
    .login_button {
        width: 140px;
    }
    .hamburger {
        display: inline-block;
        margin-left: 33px;
    }
    .blog_post {
        width: calc((100% - 30px) / 2);
    }
    .newsletter_container {
        height: auto;
        padding-top: 40px;
        padding-bottom: 40px;
    }
    .newsletter_form_container {
        margin-top: 19px;
    }
    .footer_col:not(:last-child) {
        margin-bottom: 60px;
    }
    .footer_contact,
    .footer_links {
        padding-left: 0;
    }
    .footer_links ul {
        columns: 1;
        -webkit-columns: 1;
        -moz-columns: 1;
    }
    .footer_mobile {
        float: none;
    }
    .footer_logo_container {
        margin-top: 0;
    }
    .copyright {
        height: auto;
        padding-top: 30px;
        padding-bottom: 30px;
    }
    .cr_list {
        margin-top: 30px;
    }
    .cr_list li:not(:last-child) {
        margin-right: 20px;
    }
    .copyright div,
    .cr_list li a {
        font-size: 13px;
    }
}


/************
7. 959px
************/

@media only screen and (max-width: 959px) {}


/************
8. 880px
************/

@media only screen and (max-width: 880px) {
    .feature_content {
        padding-right: 0px;
    }
    .accordion_container {
        background: #FFFFFF;
        min-width: 100%;
        border-radius: 6px;
        box-shadow: 0px 1px 10px rgb(0 0 0 / 10%);
        padding-left: 30px;
        padding-right: 30px;
        padding-top: 13px;
        padding-bottom: 4px;
    }
    .img-accordion {
        width: 100% !important;
        margin-top: 10px;
    }
}


/************
9. 768px
************/

@media only screen and (max-width: 768px) {}


/************
10. 767px
************/

@media only screen and (max-width: 767px) {
    .top_bar {
        display: none;
    }
    .home {
        height: 140px;
    }
    .header.scrolled {
        top: 0px;
    }
    .blog_post {
        width: 100%;
    }
}


/************
11. 575px
************/

@media only screen and (max-width: 575px) {
    h2 {
        font-size: 24px;
    }
    p {
        font-size: 13px;
    }
    .menu {
        width: 100%;
        right: -100%;
    }
    .dropdown_item_select,
    .home_search_button {
        font-size: 12px;
    }
    .accordion_panel p {
        font-size: 13px;
    }
    .accordion div {
        font-size: 16px;
    }
    .feature_video {
        height: 300px;
    }
    .partners_slider_container {
        width: 100%;
        left: auto;
    }
    .newsletter_form_container {
        width: 100%;
        padding-left: 0;
    }
}


/************
11. 539px
************/

@media only screen and (max-width: 539px) {}


/************
12. 480px
************/

@media only screen and (max-width: 480px) {
    .accordion_container {
        max-width: 90%;
        margin-right: auto;
        margin-left: 9%;
    }
    .accordion div {
        font-size: 15px;
    }
    .elements_accordions {
        padding-left: 25px;
    }
}


/************
13. 479px
************/

@media only screen and (max-width: 479px) {}


/************
14. 400px
************/

@media only screen and (max-width: 400px) {}